.container-custom {
    background-color : #e2c17a94;
    padding: 20px 300px;
    margin-top: 50px;
}

body {
    background-color : #000000;
}

.table-custom {
    margin-top: 100px;
    padding: 10%;
    background-color: #cbffda;
}

.tbody-light {
    background-color: #fff;
}

.container-home {
        margin-top: 150px;
        padding: 5% 10%;
        background-color: #cbffda;
  
}